body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.container {
  display: none;
  text-align: center;
}
.active {
  display: block;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}
.card {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
}
.flipped {
  background-color: #2ecc71;
}

/* Tela Admin */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}
